modules = ["nodejs-24"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 8082
externalPort = 3002

[[ports]]
localPort = 8083
externalPort = 4200

[[ports]]
localPort = 8084
externalPort = 5173

[[ports]]
localPort = 8085
externalPort = 6800

[[ports]]
localPort = 8086
externalPort = 8008

[[ports]]
localPort = 21246
externalPort = 3000

[[ports]]
localPort = 21247
externalPort = 3001

[[ports]]
localPort = 21248
externalPort = 3003

[[ports]]
localPort = 21249
externalPort = 5000

[[ports]]
localPort = 21250
externalPort = 6000

[[ports]]
localPort = 21251
externalPort = 8000

[userenv]

[userenv.shared]
JWT_SECRET = "8f3c9a1d7b2c9a8f6d1e7a9c4b2d6f8a1c9e3f7b5d2a8c6f1e9b3d7a5c2"
MONGODB_URI = "mongodb+srv://revanthvundamatla_db_user:innnRVw5qYirn4R3@cluster0.x935hai.mongodb.net/todo-app?retryWrites=true&w=majority"
